@media only screen and (min-width: 62em) {

    .container {
        max-width: 1400px;
        margin-left: 60px ;
        margin-right:60px;
    }

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section:nth-child(3) {
        grid-column: span 1;
    }

    header {
        padding-top: 1px;
        padding-bottom: 1px;
        margin-top: 10px;
        margin-right: 20px;

        
    }

    footer{
        margin-bottom: 10px;
    }
}
