@media only screen and (min-width: 62em) {

    .container {
        max-width: 1600px;
       
        padding-left: 5%;
        padding-right: 4%;
        
    }

    main{
        grid-template-columns: 1fr 1fr 1fr;

    }

    main section:nth-child(3) {
        grid-column: span 1;
        
    }

    header{
        padding-top: 1px;
        padding-bottom: 1px;
        margin-top: 10px;
        margin-right: 2%;

        
    }

    footer{
        margin-right: 1px;
        margin-bottom: 10px;
    }
}