@media only screen and (min-width: 32.5em) {

    .container {
        max-width: 1200px;
        padding-left: 8%;
        
      
    
    }

    main{
        grid-template-columns: 1fr 1fr;
      
    }

    main section:nth-child(3) {
        grid-column: span 3;
        
    }
    header{
        
        margin-top: 10px;
        margin-right: 45px;

    }
    footer{
        margin-right: 25px;
        
    }

    
    #box3{
       
   max-width: 95%;
       
      
    }
    
    
    










}
