@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap'); 
body{
    width: 400px;
    margin: 0 auto;

}

header{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    
    background-color: #1EA9F1;
    box-shadow: 5px 5px 10px black;
    margin-top: 20px;
    

   

    
}

header h1 {
    font-size:85px;
    padding-left:5%;
    text-shadow: 5px 5px 10px black;
    font-family: 'Amatic SC';
    
}

main h2{
    text-shadow: 5px 5px 10px black;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 45px;

}

header img{
    border-radius: 20px;
    width: 180px;
    height: auto;
    
}

#lessons{
    font-size:larger

}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1EA9F1;
    box-shadow: 5px 5px 10px black;
    font-size: larger;
    border-radius: 30px;
    
}



